/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

html {
    background-color: #fbfcf8;
    align-items: center;
}

* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.txt-align {
    text-align: center;
}

body {
    background-color: #ffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 5%;
}

/* Enter username section*/
.home-button {
    border: solid 2px darkslategray;
    border-radius: 50%;
}

#home.button {
    height: 100px;
    width: 100px;
}

#enter-username-section {
    border: 1px solid;
    left: 50%;
    right: 50%;
    align-self: center;
    background-color: rgba(68, 68, 68, 0.5);
    border-radius: 10%;
    border: solid 2px rgb(241, 192, 101);
    font-family: "Tilt Neon", sans-serif;
}

/*Game-rules section*/
#game-rules-section {
    background-color: #fbfcf8;
    border-radius: 15%;
    border: solid 2px rgb(241, 192, 101);
    font-family: "Tilt Neon", sans-serif;
}

.game-rules-list {
    line-height: 200%;   
}

.game-rules-img {
    height: 300px;
    width: 300px;
}

/*Game-area section*/
#game-area {
    background-color: #fbfcf8;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
    border: solid 2px rgb(241, 192, 101);
    font-family: "Tilt Neon", sans-serif;
}

.player-button {
    height: 100px;
    width: 100px;
    border: solid 2px darkslategray;
    border-radius: 50%;
}

.player-score,
.computer {
    width: 200px;
    height: 300px;
    border: solid 2px rgb(241, 192, 101);
}

/* score area*/
.score-area {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/*img result*/
#player-img {
    height: 100px;
    width: 100px;
}

#computer-img {
    height: 100px;
    width: 100px;
}

.hide {
    display: none;
}

.home-button {
    background-color: #fbfcf8;
}

#home-button {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 600px) {
    html {
    margin: 0;
    padding: 0;
    }
    
    body {
    padding: 5px;
    }
    
    #game-rules-section {
        max-width: wv;
        font-size: 75%;
        margin: 0px;
        padding: 5px;
        align-items: center;
        
    }

    .game-rules-img {
        height: 200px;
        width: 200px;

    }
}