

html {
    background-color: rgb(130, 173, 130);
    padding: 50px;
    align-items: center;

}

* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.txt-align { 
text-align: center;
}

body {
    background-color: rgba(68, 68, 68, 0.9);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    

} 

.home-button {
    border: solid 2px darkslategray;
    border-radius: 50%;
}

#home.button {
    height: 100px;
    width: 100px;
}

#enter-username-section {
border: 1px solid black;
left: 50%;
right: 50%;
align-self: center;
}

#game-rules-section {
    background-color: darkgoldenrod;
}

#game-area {
    background-color: grey;
}

.hide {
    display: none;
}

.home-button {
    background-color: burlywood;
}
#home-button {
    width: 40px;
    height: 40px;
}