/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    align-items: center;
}

.hide {
    display: none;
}

.txt-align {
    text-align: center;
}

body {
    background-color: #ffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5%;
    min-height: 100vh;
}

.home {
    display: flex;
    justify-content: center;

}
#home-button {
    width: 70px;
    height: 70px;
    background-color: #fbfcf8;
    border: solid 2px rgb(220, 154, 14);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    position: relative;
}


/* Enter username section */
#enter-username-section {
    border: 1px solid;
    left: 50%;
    right: 50%;
    align-self: center;
    background-color: #fbfcf8;
    border-radius: 10%;
    border: solid 2px rgb(241, 192, 101);
    font-family: "Tilt Neon", sans-serif;
    height: 600px;
    width: 600px;
    font-size: 300%;
}

#enter-username-section p, h1 {
    font-size: 150%;
}

/* Game rule section */
#game-rules-section {
    background-color: #fbfcf8;
    border-radius: 15%;
    border: solid 2px rgb(241, 192, 101);
    font-family: "Tilt Neon", sans-serif;
    width: 700px;
    align-self: center;
}

.game-rules-list {
    line-height: 200%;   
}

.game-rules-img {
    height: 300px;
    width: 300px;
}

/* Game area section */
#game-area {
    background-color: #fbfcf8;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
    border: solid 2px rgb(241, 192, 101);
    font-family: "Tilt Neon", sans-serif;
    width: 900px;
    align-self: center;
}


.player-button {
    height: 120px;
    width: 120px;
    border: solid 2px rgb(227, 174, 84) !important;
    border-radius: 50%;
    background-color:  #f0a020; 
}

#player-button button {
    background: none;
    border: none;
}

.player-score,
.computer {
    width: 200px;
    height: 300px;
    border: solid 2px rgb(241, 192, 101);
    background-color: rgb(233, 200, 139);
    border-radius: 15%;
}

/* Score area */
.score-area {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Img inside the player box */
#player-img {
    height: 100px;
    width: 100px;
    margin-left: 2%;
}
/* Img inside the computer box */
#computer-img {
    height: 100px;
    width: 100px;
    margin-right: 2%;
}

/* Media querys for smaller screen sizes */
@media screen and (max-width: 620px) {
    html {
    margin: 0;
    padding: 0;
}
    
    body {
    padding: 5px;
    }

    /* Enter username form */
    #enter-username-section {
    height: 400px;
    width: 300px;
    font-size: 85%;
    }

    /* Game rule section */
    #game-rules-section {
        font-size: 75%;
        margin: 0px;
        padding: 5px;
        align-items: center;
    }

    .game-rules-img {
        height: 200px;
        width: 200px;
    }

    /* Game area section with media querys */
    #game-area {
    background-color: #ffff;
    border-radius: 15%;
    border: solid 2px rgb(241, 192, 101);
    font-family: "Tilt Neon", sans-serif;
    width: 100%;
    }

    .player-button {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        height: 70px;
        width: 70px;
    }

    .player-score, .computer {
        font-size: 60%;
    }

    .player-score p {
        padding-top: 0;
        padding-bottom: 0;
    }

    .computer p {
        padding-top: 0;
        padding-bottom: 0;

    }

    #player-img, #computer-img {
        height: 90px;
        width: 90px;
        padding-top: 0;
    }

    .player-score,
    .computer {
        width: 200px;
        height: 230px;
    }
    }
